
body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.book{
    background-color: rebeccapurple;
    border: 1px solid black;
}

.page {
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.page1{
}
.slide-out{
    opacity: 0;
}
.hidden-page{
    display: none;
}